/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #c8c2c2; /* Light grey background */
    color: #333; /* Dark text color */
}

header {
    background-color: #4a4a4a; /* Dark grey background for header */
    color: #fff; /* White text color */
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

#resume {
    background: #fff; /* White background for resume section */
    padding: 2rem;
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 8px;
    margin: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
}

#resume h2 {
    border-bottom: 2px solid #9e9e9e; /* Grey border for h2 */
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    color: #333; /* Dark text color for headings */
}

#resume h3 {
    margin-top: 1rem;
    border-bottom: 1px solid #ddd; /* Light grey border for h3 */
    padding-bottom: 0.5rem;
    color: #555; /* Medium grey color for h3 */
}

#resume p {
    margin-bottom: 0.5rem;
}

#resume a {
    color: #007bff; /* Light blue color for links */
    text-decoration: none;
}

#resume a:hover {
    text-decoration: underline;
}

footer {
    background-color: #4a4a4a; /* Dark grey background for footer */
    color: #fff; /* White text color */
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
